<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	
	<p align="center"><a href=sum2 ><button class=grey style="height:75px;width:150px">SUM 2</button></a></p>
	<p align="center"><a href=sum3 ><button class=grey style="height:75px;width:150px">SUM 3</button></a></p>
	<p align="center"><a href=sum4 ><button class=grey style="height:75px;width:150px">SUM 4</button></a></p>
        
				
</body>
</html>
