<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Lab9 Sum4</h1>	
	<form name="my_form" >
		Give name,roll number,age 1 &nbsp;<input  type="text" name="l1"><br>
Give marks 1 &nbsp;<input  type="text" name="m1"><br>
Give name,roll number,age  number 2 &nbsp;<input  type="text" name="l2"><br>
Give marks 2 &nbsp;<input  type="text" name="m2"><br>
Give name,roll number,age  3 &nbsp;<input  type="text" name="l3"><br>
Give marks 3 &nbsp;<input  type="text" name="m3"><br>
Give name,roll number,age  4 &nbsp;<input  type="text" name="l4"><br>
Give marks 4 &nbsp;<input  type="text" name="m4"><br>
Give name,roll number,age  5 &nbsp;<input  type="text" name="l5"><br>
Give marks 5 &nbsp;<input  type="text" name="m5"><br>
Give name,roll number,age  6 &nbsp;<input  type="text" name="l6"><br>
Give marks 6 &nbsp;<input  type="text" name="m6"><br>
                
		
		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON4')" value="Submit">	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
